*{
    margin: 0;
    padding: 0%;
}
.team {
    padding: 80px 0;
}
.team-content .inner-content{
   
    margin: 0 20px;
    width: 330px;
    height: 456px;
    border: 20px solid #eec400 ;
    position: relative;
}
.team-content .inner-content .first-border-img img{
    position: absolute;
    top: 50px;
    left: -55px;
    bottom: 0px;
    right: 0;
    padding: 0 20px;
    width: 400px;
    opacity: 1;
    text-align: center;
}
.team-overlay{
    background: #cdae12;
    opacity: 1;
    z-index: 999;
}
.team-content .inner-content:hover{
    border: 20px solid black;
    opacity: .5;
}
.team-social ul li a{
    color: black;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 90%;
}

.team-social ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
   
}
